body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #142850;
  color: white;
  height: 90px;
  width: 100%;
}

.column-one-fourth {
  width: 25%;
}

.column-three-fourth {
  width: 75%;
}

.app-name {
  font-family: 'Spectral', serif;
  margin: 0;
}

.drawer-container {
  text-align: center;
}

.fa-bars {
  font-size: 1.5rem;
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
  header {
    height: 115px;
  }

  .app-name-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .app-name {
    position: absolute;
    top: 25%;
    left: 27%;
    font-size: 2.5rem;
  }

  .fa-bars {
    font-size: 2rem;
  }
}
