body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: #292929;
}

.background {
  height: 100vh;
  width: 100%;
}

.bg-pattens-blue {
  background-color: #dae1e7;
}

.bg-white {
  background-color: white;
}

.bg-venice-blue {
  background-color: #27496d;
}

header {
  display: flex;
  align-items: center;
  background-color: #142850;
  color: white;
  height: 12%;
  width: 100%;
}

.column-one-fourth {
  width: 25%;
}

.column-three-fourth {
  width: 75%;
}

.app-name {
  font-family: 'Spectral', serif;
  margin: 0;
}

.drawer-container {
  text-align: center;
}

.drawer {
  font-size: 1.5rem;
}

.search-container {
  padding: 35px;
  height: 70%;
  display: flex;
  justify-content: center;
}

.search-form {
  background-color: #dae1e7;
  height: 100%;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.location-search {
  padding: 7px 20px;
}

.location-search,
.food-type {
  border: none;
  border-radius: 15px;
  font-size: 18px;
}

.location-search::placeholder {
  color: #dae1e7;
}

.location-search:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00909e;
}

.food-type-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food-type {
  background-color: white;
  margin-bottom: 40px;
  padding: 7px 20px;
}

.selected {
  background-color: #00909e;
  color: white;
}

.search-button-container {
  text-align: center;
}

.search-button {
  border: none;
  border-radius: 15px;
  background: #142850;
  color: white;
  font-size: 18px;
  padding: 10px 30px;
}

.location-search:hover,
.food-type:hover,
.search-button:hover,
.drawer:hover {
  cursor: pointer;
}

.restaurant-list-container {
  margin: 40px 0 40px 0;
  padding: 0 40px 0 40px;
  height: 78%;
  overflow-y: scroll;
}

.restaurant-link {
  text-decoration: none;
  color: #292929;
  cursor: pointer;
  outline: none;
}

.restaurant {
  border-radius: 4px;
  background-color: white;
  margin-bottom: 35px;
  display: flex;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 80px;
}

.image-container {
  margin-right: 10px;
}

.restaurant-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 4px 0 0 4px;
}

.detail-container {
  font-size: 0.8rem;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-address {
  display: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.restaurant-name {
  font-size: 0.9rem;
  font-weight: 500;
}

.star {
  font-size: 0.85rem;
}

.star,
.unchecked {
  color: #00909e;
}

.select-icon-container {
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unchecked {
  font-size: 2.3rem;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
  .desktop {
    display: flex;
  }

  header {
    height: 90px;
  }

  .drawer-container {
    text-align: end;
  }

  .app-name-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .app-name {
    position: absolute;
    top: 15%;
    left: 27%;
    font-size: 2.5rem;
  }

  .drawer {
    font-size: 2rem;
  }

  .search-form {
    height: 95%;
    width: 63%;
    justify-content: unset;
  }

  .location-search {
    width: 250px;
    padding: 10px 20px;
  }

  .food-type-container {
    width: 85%;
    margin-top: 40px;
  }

  .food-type {
    margin: 40px 30px;
    padding: 10px 20px;
  }

  .search-button {
    margin-left: 20px;
    padding: 10px 20px;
  }

  .column-one-third {
    display: flex;
    width: calc(100% / 3);
  }

  .left {
    justify-content: flex-start;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;
  }

  .restaurant-list-container {
    width: 63%;
    margin: 40px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .one-third-column {
    height: 320px;
    width: 27%;
    display: block;
  }

  .image-container {
    margin-right: 0;
    height: 65%;
  }

  .restaurant-image {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
  }

  .bottom-container {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .detail-container {
    width: 60%;
    padding-left: 15px;
  }

  .restaurant-name {
    font-size: 1rem;
  }

  .restaurant-address {
    display: block;
  }

  .star {
    margin-right: 5px;
    font-size: 1rem;
  }

  .select-icon-container {
    width: 30%;
  }

  .unchecked {
    font-size: 2.7rem;
  }

  .mobile {
    display: none;
  }
}
