body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: #292929;
}

.background {
  height: 100vh;
  width: 100%;
}

.bg-pattens-blue {
  background-color: #dae1e7;
}

.bg-white {
  background-color: white;
}

.bg-venice-blue {
  background-color: #27496d;
}

header {
  display: flex;
  align-items: center;
  background-color: #142850;
  color: white;
  height: 12%;
  width: 100%;
}

.column-one-fourth {
  width: 25%;
}

.column-three-fourth {
  width: 75%;
}

.app-name {
  font-family: 'Spectral', serif;
  margin: 0;
}

.drawer-container {
  text-align: center;
}

.drawer {
  font-size: 1.5rem;
}

.search-container {
  padding: 35px;
  height: 70%;
  display: flex;
  justify-content: center;
}

.search-form {
  background-color: #dae1e7;
  height: 100%;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.location-search {
  padding: 7px 20px;
}

.location-search,
.food-type {
  border: none;
  border-radius: 15px;
  font-size: 18px;
}

.location-search::placeholder {
  color: #dae1e7;
}

.location-search:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00909e;
}

.food-type-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food-type {
  background-color: white;
  margin-bottom: 40px;
  padding: 7px 20px;
}

.selected {
  background-color: #00909e;
  color: white;
}

.search-button-container {
  text-align: center;
}

.search-button,
.randomize-button,
.visit-yelp-button {
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  padding: 10px 30px;
}

.search-button {
  background: #142850;
}

.restaurant-list-container,
.container {
  margin: 40px 0 40px 0;
  padding: 0 40px 0 40px;
  height: 78%;
}

.restaurant-list-container,
.randomize-list-container {
  overflow-y: scroll;
}

.restaurant-link {
  text-decoration: none;
  color: #292929;
  cursor: pointer;
  outline: none;
  display: flex;
}

.restaurant,
.restaurant-randomize {
  border-radius: 4px;
  background-color: white;
  margin-bottom: 35px;
  display: flex;
  height: 80px;
}

.restaurant {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.image-container {
  margin-right: 10px;
}

.restaurant-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 4px 0 0 4px;
}

.bottom-container {
  display: flex;
}

.detail-container {
  font-size: 0.8rem;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-address {
  display: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.restaurant-name {
  font-size: 0.9rem;
  font-weight: 500;
}

.star {
  font-size: 0.85rem;
}

.star,
.unchecked,
.checked {
  color: #00909e;
}

.select-icon-container {
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unchecked,
.checked {
  font-size: 2.3rem;
}

.app-drawer-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
}

.menu-container {
  background-color: white;
  width: 250px;
  height: 100%;
  position: fixed;
  padding-left: 30px;
  padding-top: 10px;
  font-family: 'Spectral', serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
}

.restaurant-list,
.search-restaurant,
.randomize-list {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #292929;
}

.search-icon,
.list-icon,
.check-circle-icon {
  padding-right: 20px;
  font-size: 1.7rem;
  color: #142850;
}

.modal {
  background: rgba(41, 41, 41, 0.55);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.location-search:hover,
.food-type:hover,
.search-button:hover,
.drawer:hover,
.modal:hover,
li:hover,
.unchecked,
.checked,
.visit-yelp-button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.randomize-list-container {
  height: 88%;
}

.restaurant-randomize,
.eat-here-details {
  filter: drop-shadow(0 4px 4px #00909e);
}

.randomize-button,
.visit-yelp-button {
  background-color: #00909e;
  text-decoration: none;
}

.eat-here-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.eat-here {
  color: white;
  margin: 0;
}

.eat-here-details {
  background-color: white;
  width: 214px;
  height: 320px;
  border-radius: 4px;
}

.eat-here-image-container {
  margin-right: 0;
  height: 65%;
}

.eat-here-restaurant-image {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
}

.eat-here-bottom-container {
  display: flex;
  height: 35%;
  width: 100%;
}

.eat-here-detail-container {
  padding-left: 10px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.eat-here-restaurant-name {
  font-size: 1rem;
  font-weight: 500;
}

.eat-here-restaurant-rating i {
  margin-right: 5px;
  font-size: 1rem;
}

.visit-yelp-button-container {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
  .desktop {
    display: flex;
  }

  header {
    height: 90px;
  }

  .drawer-container {
    text-align: end;
  }

  .app-name-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .app-name {
    position: absolute;
    top: 15%;
    left: 27%;
    font-size: 2.5rem;
  }

  .drawer {
    font-size: 2rem;
  }

  .search-form {
    height: 95%;
    width: 63%;
    justify-content: unset;
  }

  .location-search {
    width: 250px;
    padding: 10px 20px;
  }

  .food-type-container {
    width: 85%;
    margin-top: 40px;
  }

  .food-type {
    margin: 40px 30px;
    padding: 10px 20px;
  }

  .search-button {
    margin-left: 20px;
    padding: 10px 20px;
  }

  .column-one-third {
    display: flex;
    width: calc(100% / 3);
  }

  .left {
    justify-content: flex-start;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;
  }

  .restaurant-list-container,
  .container {
    width: 63%;
    margin: 40px auto;
    padding: 0;
  }

  .restaurant-list-container,
  .randomize-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .one-third-column {
    width: 27%;
  }

  .restaurant,
  .restaurant-randomize {
    height: 320px;
    display: block;
  }

  .image-container {
    margin-right: 0;
    height: 65%;
  }

  .restaurant-image {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
  }

  .bottom-container {
    height: 35%;
    width: 100%;
    justify-content: space-around;
  }

  .restaurant-link {
    width: 60%;
    padding-left: 15px;
  }

  .restaurant-name {
    font-size: 1rem;
  }

  .restaurant-address {
    display: block;
  }

  .star {
    margin-right: 5px;
    font-size: 1rem;
  }

  .select-icon-container {
    width: 30%;
  }

  .unchecked,
  .checked {
    font-size: 2.7rem;
  }

  .menu-container {
    width: 280px;
    padding-left: 40px;
  }

  ul {
    margin-top: 30px;
  }

  li {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .search-icon,
  .list-icon,
  .check-circle-icon {
    font-size: 1.8rem;
  }

  .eat-here {
    font-size: 1.7rem;
  }

  .eat-here-details {
    display: flex;
    width: 640px;
    height: 380px;
  }

  .eat-here-image-container {
    height: 380px;
    width: 380px;
  }

  .eat-here-restaurant-image {
    border-radius: 4px 0 0 4px;
  }

  .eat-here-bottom-container {
    justify-content: space-around;
    width: 260px;
    height: 100%;
  }

  .eat-here-detail-container {
    width: 80%;
    padding-left: 0;
    font-size: 1.2rem;
    justify-content: space-evenly;
  }

  .eat-here-restaurant-name {
    font-size: 1.5rem;
  }

  .eat-here-restaurant-rating i {
    font-size: 1.3rem;
    margin-right: 10px;
  }

  .mobile {
    display: none;
  }
}
